.buyBtn {
    font-family: sans-serif;
    color: #4F4F4F;
    background-color: transparent;
    border-radius: 1rem;
    padding: .4rem .6rem;
    border: 2px solid grey;
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: .7rem;
    cursor: pointer;
}

.buyBtn:hover {
    border: 1px solid var(--main);
    background-color: var(--clear);
    color: var(--main);
}